@media (max-width: 600px) {
    .row, .navbar {   
      flex-direction: column;
    }   
}

@media only screen and (max-width: 400px) {
    body {
      background-color: red;
    }
}  
:root{
    --fontColor:white;
    --backColor:black;
    font-family: sans-serif;
    color: var(--fontColor);
    background-color: var(--backColor);
    --lineSpace:1.5;   
    background-image: url(../image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#links{

    display: flex;
    flex-direction: row;
    background-color: aqua;
    gap: 20px;
}

#links > a:link, a:visited{

    text-decoration: none;
    color:var(--backColor);
    
}
#links > a:hover{

    text-decoration: none;
    color:var( --fontColor);
}

#personal{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

#personal > #Bio > p{
    line-height:var(--lineSpace);
}
#Family_info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

#Family_info > #family > p{
    line-height:var(--lineSpace);
}

#skill{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

#skill > #skill2 > p{
    line-height:var(--lineSpace);
}

footer{

    text-align: center;
    padding: 3px;
    background-color: aqua;
    color: var(--backColor);;
}