
:root{
    --fontColor:white;
    --backColor:black;
    font-family: sans-serif;
    color: var(--fontColor);
    background-color: var(--backColor);
    --lineSpace:1.5;   
    background-image: url(../image/background.jpg);
}

#links{

    display: flex;
    flex-direction: row;
    background-image: url(../image/res.gif);
    gap: 20px;   
}

#links > a:link, a:visited{

    text-decoration: none;
    color:var( --fontColor);
}
#links > a:hover{

    text-decoration: none;
    color:var(--backColor);
}

#personal{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px darkmagenta solid;
}

#personal > #Bio > p{
    line-height:var(--lineSpace);
}
#Family_info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px darkmagenta solid;
}

#Family_info > #family > p{
    line-height:var(--lineSpace);
}

#skill{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px darkmagenta solid;
}

#skill > #skill2 > p{
    line-height:var(--lineSpace);
}

footer{

    text-align: center;
    padding: 3px;
    background-image: url(../image/res.gif);
    color:var(--backColor);
}