:root{
    font-family: sans-serif;
    color: azure;
    background-color: black;
    
    
}


#links{

    display: flex;
    flex-direction: row;
    gap: 20px;   
}

#links > a:link, a:visited{

    text-decoration: none;
    color: azure;
}
#links > a:hover{

    text-decoration: none;
    background-color: yellow;
    color: yellow;
}
#intro{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer{

    text-align: center;
    padding: 3px;
    background-color: aqua;
    color: black;
}