:root{
    font-family: sans-serif;
    color: azure;
    background-color: black;
    
    
}

#headerr{

    display: flex;
    flex-direction: column;
    text-align: center;
}
















footer{

    text-align: center;
    padding: 3px;
    background-color: aqua;
    color: black;
}