:root{
    --fontColor:white;
    --backColor:black;
    font-family: sans-serif;
    color: var(--fontColor);
    background-color: var(--backColor);    
}

#links{

    display: flex;
    flex-direction: row;
    background-image: url(../image/res.gif);
    gap: 20px;   
}

#links > a:link, a:visited{

    text-decoration: none;
    color: azure;
}
#links > a:hover{

    text-decoration: none;
    color: black;
}
#intro{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer{

    text-align: center;
    padding: 3px;
    background-image: url(../image/res.gif);
    color: black;
}