:root{
    font-family: sans-serif;
    color: white;
    background-color: black;    
}

#links{

    display: flex;
    flex-direction: row;
    background-image: url(../image/res.gif);
    gap: 20px;   
}

#links > a:link, a:visited{

    text-decoration: none;
    color: white;
}
#links > a:hover{

    text-decoration: none;
    color: black;
}

#programming{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
    background-image: url(../image/programmingaa.gif);
}

#programming > #java{

    margin-top: auto;
    margin-bottom:auto;
    margin-left: 0px;
    margin-right:0px;
}

#programming > #Cpp{

    margin-top: auto;
    margin-bottom:auto;
    margin-left: 0px;
    margin-right:0px;
}

#programming > #C{

    margin-top: auto;
    margin-bottom:auto;
    margin-left: 0px;
    margin-right:0px;
}

#programming > #java > #non{

    border-color: blue;
    background-color: black;
    border-style:solid; 
    margin-top: auto;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto;
}

#programming > #Cpp > #non2{

    border-color: red;
    background-color: black;
    border-style: solid;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 25px;
    margin-right: 25px;
}

#programming > #C > #non3{

    border-color: darkgreen;
    background-color: black;
    border-style: solid;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 50px;
    margin-right: 50px;
}

#Projects{
    display: flex;
    flex-direction: row;
    font-size: medium;
}

#Projects > #soos{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: blue;
    border-color: black;
   }

#progSkill{
    display: flex;
    font-size: medium;
}

#progSkill > #sma{

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: red;
    border-color: black;
}

#Education{

    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: medium;
}

#Education > #tablee{

    background-color: yellow;
    color: black;
}
#Education > #tablee > table,th,td{

    border: 1px solid;
    width: auto;
    height: 70px;
    
}

.resume{
    display: flex;
    flex-direction: column;
}

iframe.resume{

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;

}

a:link.resume,a:visited.resume{
    text-decoration: none;
    color: white;
}
a:hover.resume{
    text-decoration: none;
    color: red;
}

footer{

    text-align: center;
    padding: 3px;
    background-image: url(../image/res.gif);
    color:black;
}