:root{
    font-family: sans-serif;
    color: white;
    background-color: black;    
}

#links{

    display: flex;
    flex-direction: row;
    background-image: url(../image/res.gif);
    gap: 20px;   
}

#links > a:link, a:visited{

    text-decoration: none;
    color: white;
}
#links > a:hover{

    text-decoration: none;
    color: black;
}

#programming{
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-image: url(../image/programmingaa.gif);
}

#Projects{
    display: flex;
    flex-direction: row;
}

footer{

    text-align: center;
    padding: 3px;
    background-image: url(../image/res.gif);
    color:black;
}