
@font-face {
    font-family: stone;
    src: url(../fonts/fonts.ttf);
}
:root{
    --fontColor:white;
    --backColor:black;
    font-family: sans-serif;
    color: var(--fontColor);
    background-color: var(--backColor);
}

header{
    background-image: url(../image/musics.jpg);
}
header >h1{
    color: red;
    font-family: stone;
}
#links{

    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    background-image: url(../image/res.gif);
    gap: 20px;   
}

#links > a:link, a:visited{

    text-decoration: none;
    color: var(--fontColor);
}
#links > a:hover{

    text-decoration: none;
    color: var(--backColor);
}

#upload > #voice{

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
}
footer{

    text-align: center;
    padding: 3px;
    background-image: url(../image/res.gif);
    color: var(--backColor);;
}